@import url('https://fonts.googleapis.com/css2? família= Roupa: peso@400;700 & display=swap');



body {
  background: hsl(212, 45%, 89%);
   
}

.texto{
 text-align: center;
 font-size: 9px;
 font-family: 'Outfit', sans-serif;
 color:  hsl(228, 88%, 25%);;
} 

p{
  color: rgb(153, 153, 153);
  font-size: 11px;
}

.imagem {

 width: 250px;
 height: 250px;
margin: auto;

/*redonda a imagem*/
border-radius: 10px;

/*sombra nas caixas*/
box-shadow: -5px -5px 5px rgba(88, 89, 130, 0.228);
  
}

.principal {
   /*fazer uma caixa/borda*/
  display: inline-block; 
  background-color: #ffff;
  border: 13px solid #ffff;
  border-radius: 15px;

  /*posicionar a div no meio*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.attribution {
  /*para posicionar o texto no final da página*/
  position: absolute;
  bottom: 0;
  color: #000;
  width: 80%; 
  text-align: center;
  padding: 3% 10%;
}




